.track {
  position: relative;
  height: 8px;
  background: var(--ui-display-bg);
  border-top:    1px solid var(--ui-border-sh);
  border-left:   1px solid var(--ui-border-sh);
  border-right:  1px solid var(--ui-border-hi);
  border-bottom: 1px solid var(--ui-border-hi);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 4px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: var(--ui-accent);
  transition: width 0.1s linear, background 0.4s;
  opacity: 0.8;
}

.thumb {
  position: absolute;
  top: -2px;
  width: 6px;
  height: 12px;
  background: var(--ui-btn-bg);
  transform: translateX(-50%);
  border-top:    1px solid var(--ui-btn-hi);
  border-left:   1px solid var(--ui-btn-hi);
  border-right:  1px solid var(--ui-btn-sh);
  border-bottom: 1px solid var(--ui-btn-sh);
  border-radius: 2px;
}
