.row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.label, .value {
  font-family: var(--ui-font);
  font-size: 6px;
  color: var(--ui-text-primary);
  min-width: 20px;
  transition: color 0.4s;
}

.value {
  text-align: right;
}

.slider {
  flex: 1;
  accent-color: var(--ui-accent);
  height: 4px;
  cursor: pointer;
  transition: accent-color 0.4s;
}
